body {
    margin: 0;
    background: #0d0d0f;
    font-family: Arial;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #0d0d0f;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-size: 14px;
}

.btn {
    background: #ff4d4d;
    padding: 10px 22px;
    border-radius: 5px;
    text-decoration: none;
    color: white !important;
}

.hero, .cta {
    position: relative;
    text-align: center;
    padding: 200px 0;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero h1 {
    font-size: 60px;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 80px 100px;
}

.feature {
    background: #121214;
    padding: 30px;
    border-radius: 10px;
}

.split {
    display: flex;
    padding: 100px;
    position: relative;
}

.split .bg {
    opacity: 0.25;
}

.left-text {
    width: 50%;
    font-size: 30px;
}

.right-text {
    width: 50%;
    padding-left: 50px;
    font-size: 14px;
}

.cta h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.numbers {
    padding: 120px 0;
    text-align: center;
}

.nums {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 50px;
}

.nums h3 {
    font-size: 40px;
    color: #ff4d4d;
}

